<div class="footer">
    <div class="row">
      <div class="col-3">
        <div>
          <div>
            <img
              src="assets/images/CMP logo - horizon - white 1.svg"
              alt=""
              class="img_footer"
            />
          </div>
          <div>
            <p class="content_footer pt-4">
              Lorem ipsum dolor sit amet consectetur. Integer enim dolor nunc
              consequat elit nec in. Commodo luctus tellus viverra aliquam ut
              feugiat dignissim. Odio volutpat sed laoreet dignissim ornare
              pharetra. Elementum diam et sit hendrerit.
            </p>
          </div>
        </div>
      </div>
      <div class="col-9 pd-l-1">
        <div class="row">
          <div class="col-3">
            <div>
              <p class="text-footer-title">Người dùng</p>
              <p class="text-footer">FAQs</p>
              <p class="text-footer">Hướng dẫn thuê</p>
              <p class="text-footer">Hướng dẫn mua</p>
            </div>
            <div class="pt-5">
              <p class="text-footer-title">Đối tác</p>
              <p class="text-footer">FAQs</p>
              <p class="text-footer">Trở thành đối tác</p>
              <p class="text-footer">Hướng dẫn bán</p>
            </div>
          </div>
          <div class="col-2">
            <p class="text-footer-title">Truy cập nhanh</p>
            <p class="text-footer">Đăng ký</p>
            <p class="text-footer">Về chúng tôi</p>
            <p class="text-footer">Sản phẩm</p>
            <p class="text-footer">Blogs</p>
            <p class="text-footer">Bảo hiểm</p>
            <p class="text-footer">Điều kiện</p>
            <p class="text-footer">FAQs</p>
          </div>
          <div class="col-4">
            <div>
              <p class="text-footer-title">Liên hệ</p>
              <p class="text-footer">
                Lorem ipsum dolor sit amet consectetur. Vitae nulla amet sed
                tortor orci quis tellus.
              </p>
            </div>
            <div class="pt-5">
              <p class="text-footer-title pt-5">Hotline</p>
              <a href="#" class="text-footer">+65-8831 8705</a>
            </div>
          </div>
          <div class="col-3">
            <div>
              <p class="text-footer-title">Mạng xã hội</p>
              <img src="assets/images/Vector_X.png" alt="" class="vector_footer" />
              <img
                src="assets/images/YouTube - Negative.png"
                alt=""
                class="vector_footer mx-2"
              />
              <img
                src="assets/images/in_vector.png"
                alt=""
                class="vector_footer mx-2"
              />
              <img
                src="assets/images/fb_vector.png"
                alt=""
                class="vector_footer mx-2"
              />
              <img
                src="assets/images/tiktok_vector.png"
                alt=""
                class="vector_footer mx-2"
              />
            </div>
            <div class="pt-8">
              <p class="text-footer-title">Email</p>
              <a href="#" class="text-footer">info&#64;antbuildz.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-end">
    <p class="text_footer_all_right mb-0">
      © 2024 comacPro. Ltd. All Rights Reserved
    </p>
  </div>
