<div class="header">
    <div class="container-fluid">
      <div class="row align-items-center p-3">
        <div class="col-12 col-md-8 d-flex align-items-center">
          <div class="p-2">
            <img
              [src]="imagePath"
              alt=""
              class="img-fluid"
              style="max-height: 43px"
            />
          </div>
          <div class="d-inline-flex align-items-center flex-wrap">
            <a
              href="/"
              class="mx-2 my-1 text-decoration-none text-dark f-w-600 bg-highlight"
              >Bán</a
            >
            <a
              href="/"
              class="mx-2 my-1 text-decoration-none text-dark f-w-600"
              >Cho thuê</a
            >
            <a
              href="/"
              class="mx-2 my-1 text-decoration-none text-dark f-w-600"
              >Danh mục</a
            >
            <a
              href="/"
              class="mx-2 my-1 text-decoration-none text-dark f-w-600"
              >Blogs</a
            >
            <a
              href="/"
              class="mx-2 my-1 text-decoration-none text-dark f-w-600"
              >FAQ</a
            >
            <a
              href="/"
              class="mx-2 my-1 text-decoration-none text-dark f-w-600"
              >Về chúng tôi</a
            >
          </div>
        </div>
        <div
          class="col-12 col-md-4 d-flex justify-content-end align-items-center mt-2 mt-md-0"
        >
          <button class="mx-2 border-0 bg-white">
            <a href="#">
              <img
                src="assets/images/Nomal button.png"
                alt=""
                class="img-fluid"
                style="max-height: 43px"
              />
            </a>
          </button>
          <button class="mx-2 border-0 bg-white">
            <img
              src="assets/images/Frame 427318177.png"
              alt=""
              class="img-fluid"
              style="max-height: 43px"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="nav">
    <div class="w-100 bg-primary-light text-center pt-4">
      <div><p class="text-title-nav">Danh sách thiết bị nâng cao</p></div>
      <div class="d-inline-flex mx-2 text-content-nav">
        <p>Bán/ Aerial Working Platform/</p>
        <p class="text-content-nav-s">&nbsp;Scissor Lift</p>
      </div>
    </div>
  </div>