.bg-box-slick {
    display: flex;             
    justify-content: center;
    align-items: center;       
    height: 160px;             
    overflow: hidden; 
  }
  
  .img-style {
    max-height: 100%;         
    max-width: 100%;         
    object-fit: contain;     
  }
  .slide {
    margin: 0 80px;            
    text-align: center;        
  }

