<div>
  <div class="col-12" *ngIf="isLoadingNAV">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <app-header></app-header>
  <div class="content">
    <div class="container-fluid">
      <div class="row p-4">
        <div class="col-12 col-md-3">
          <div class="box1">
            <p class="title-box">Tìm kiếm thiết bị</p>
            <div>
              <div class="input-wrapper">
                <img
                  src="assets/images/ComacPro 2/vuesax/linear/search-normal.svg"
                  alt="search-icon"
                  class="input-icon"
                />
                <input
                  class="input p-input"
                  type="text"
                  (change)="changeText($event)"
                  (keyup.enter)="onSearch()"
                  placeholder="Scissor Lift"
                />
              </div>
              <div class="input-wrapper">
                <img
                  src="assets/images/ComacPro 3/vuesax/linear/vuesax/linear/location.png"
                  alt="search-icon"
                  class="input-icon"
                />
                <input class="input p-input" type="text" placeholder="Hà Nội" [(ngModel)]="cityName" />
              </div>
              <div class="input-wrapper">
                <img
                  src="assets/images/ComacPro 5/vuesax/linear/verify.png"
                  alt="search-icon"
                  class="input-icon"
                />
                <select class="input p-input custom-select bg-white">
                  <option value="new" selected>Mới chưa sử dụng</option>
                  <option value="used">Đã qua sử dụng</option>
                  <option value="refurbished">Hàng tân trang</option>
                </select>
                <img
                  src="assets/images/ComacPro 4/vuesax/linear/vuesax/linear/arrow-down.png"
                  alt="search-icon"
                  class="input-icon-left"
                />
              </div>
              <button
                class="button input-wrapper bg-btn-box1"
                (click)="onSearch()"
              >
                Tìm kiếm
              </button>
            </div>
          </div>

          <div class="box2 border mt-3">
            <p class="title-box">Thương hiệu</p>
            <div class="content-box2">
              <div class="custom-checkbox d-flex align-items-center">
                <input type="checkbox" id="brand1" [checked]="selectedBrand === 'Caterpillar'" (change)="onCheckboxChange($event, 'Caterpillar')" />
                <label for="brand1" class="text-checkbox">Caterpillar</label>
              </div>
              <div class="custom-checkbox d-flex align-items-center">
                <input type="checkbox" id="brand2" [checked]="selectedBrand === 'Podemcrane'" (change)="onCheckboxChange($event, 'Podemcrane')" />
                <label for="brand2" class="text-checkbox">Podemcrane</label>
              </div>
              <div class="custom-checkbox d-flex align-items-center">
                <input type="checkbox" id="brand3" [checked]="selectedBrand === 'Komatsu'" (change)="onCheckboxChange($event, 'Komatsu')" />
                <label for="brand3" class="text-checkbox">Komatsu</label>
              </div>
              <div class="custom-checkbox d-flex align-items-center">
                <input type="checkbox" id="brand4" [checked]="selectedBrand === 'Hitachi'" (change)="onCheckboxChange($event, 'Hitachi')" />
                <label for="brand4" class="text-checkbox">Hitachi</label>
              </div>
              <div class="custom-checkbox d-flex align-items-center">
                <input type="checkbox" id="brand5" [checked]="selectedBrand === 'Liebherr'" (change)="onCheckboxChange($event, 'Liebherr')" />
                <label for="brand5" class="text-checkbox">Liebherr</label>
              </div>
              <div class="custom-checkbox d-flex align-items-center">
                <input type="checkbox" id="brand6" [checked]="selectedBrand === 'Toyota'" (change)="onCheckboxChange($event, 'Toyota')" />
                <label for="brand6" class="text-checkbox">Toyota</label>
              </div>
              <div class="custom-checkbox d-flex align-items-center">
                <input type="checkbox" id="brand7" [checked]="selectedBrand === 'Samsung'" (change)="onCheckboxChange($event, 'Samsung')" />
                <label for="brand7" class="text-checkbox">Samsung</label>
              </div>
              <div class="custom-checkbox d-flex align-items-center">
                <input type="checkbox" id="brand8" [checked]="selectedBrand === 'Mitsubishi'" (change)="onCheckboxChange($event, 'Mitsubishi')" />
                <label for="brand8" class="text-checkbox">Mitsubishi</label>
              </div>
            </div>
          </div>

          <div class="box3 mt-3">
            <div class="input-wrapper-box3">
              <select
                class="input p-input custom-select bg-white"
                (change)="onConditionChange($event)"
              >
                <option value="new" disabled selected>Đời thiết bị</option>
                <option value="Mới">Mới</option>
                <option value="Cũ">Cũ</option>
              </select>
              <img
                src="assets/images/ComacPro 4/vuesax/linear/vuesax/linear/arrow-down.png"
                alt="search-icon"
                class="input-icon-left"
              />
            </div>
          </div>

          <div class="box4 border mt-3">
            <p class="title-box">Khoảng giá</p>
            <div class="box4-content">
              <div class="slider-container">
                <input
                  type="range"
                  [min]="minPrice"
                  [max]="maxPrice"
                  [(ngModel)]="minValuePrice"
                  [style]="trackStyle"
                  (input)="updateMinValue()"
                />
              
                <input
                  type="range"
                  [min]="minPrice"
                  [max]="maxPrice"
                  [(ngModel)]="maxValuePrice"
                  (input)="updateMaxValue()"
                />
              
                <div class="values p-2">
                  <span>{{ minValuePrice }}</span>
                  <span>{{ maxValuePrice }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="box4 border mt-3">
            <p class="title-box">Năm sản xuất</p>
            <div class="box4-content">
              <div class="slider-container">
                <input
                  type="range"
                  [min]="minYear"
                  [max]="maxYear"
                  [(ngModel)]="minValueYear"
                  [style]="trackStyleYear"
                  (input)="updateMinValueYear()"
                />
              
                <input
                  type="range"
                  [min]="minYear"
                  [max]="maxYear"
                  [(ngModel)]="maxValueYear"
                  (input)="updateMaxValueYear()"
                />
              
                <div class="values p-2">
                  <span>{{ minValueYear }}</span>
                  <span>{{ maxValueYear}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-9">
          <div class="">
            <div class="title w-100">
              <div class="d-flex align-items-center">
                <img
                  src="assets/images/Frame 427318218.png"
                  alt=""
                  class="check_frame"
                />
                <p class="title_text mx-2 mb-0">
                  Việc mua thiết bị của bạn sẽ được bảo vệ bởi chế độ bảo hành
                  mua thiết bị của ComacPro
                </p>
              </div>
            </div>
            <div class="pt-4 d-flex justify-content-between flex-wrap">
              <div class="p-2">
                <img src="assets/images/anh_1.png" alt="" class="img-fluid" />
              </div>
              <div class="p-2">
                <img src="assets/images/anh_2.png" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="pt-4 d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="custom-border-vertical"></div>
                <p class="title_cnt mb-0 mx-2">Danh sách thang nâng</p>
              </div>
              <div class="d-flex align-items-center">
                <button class="border-0" style="background-color: #fff;"  (click)="checkColumn()" [disabled]="isColumn">
                  <img
                    src="assets/images/vuesax.png"
                    class="mx-2 cursor-pointer"
                  />
                </button>
                <button class="border-0" style="background-color: #fff;" (click)="checkRow()" [disabled]="isRow">
                  <img
                    src="assets/images/ComacPro 8/vuesax/bold/element-3.png"
                    class="cursor-pointer"
                  />
                </button>
              </div>
            </div>
            <div class="pt-2">
              <div class="box_content_main">
                <div *ngIf="isLoading" class="loading-container d-flex justify-content-center align-items-center">
                  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                  <mat-spinner></mat-spinner>
              </div>
                <div *ngIf="errorMessage !== ''" class="alert alert-danger">
                  {{ errorMessage }}
                </div>
                <div *ngIf="isNull" class="loading-indicator">
                  <h1 class="text-danger align-content-center text-center p-5">
                    Không tìm thấy kết quả...
                  </h1>
                </div>

                <div *ngIf="!isLoading && isRow">
                  <div class="product-list">
                    <div class="row">
                      <div
                        class="col-12 col-md-4 p-2"
                        *ngFor="let item of data"
                      >
                        <div class="box_img_pro">
                          <img
                            [src]="item.img ? item.img : defaultImg"
                            alt=""
                            class="img-product w-100"
                          />
                        </div>
                        <div class="box_content_product p-3 border-box_cnt">
                          <div>
                            <p class="title_product">{{ item.product_name }}</p>
                          </div>
                          <div class="d-flex">
                            <img
                              src="assets/images/location/vuesax/bold/location.png"
                              alt=""
                              class="location_img"
                            />
                            <p class="text_location mx-2">{{ item.city }}</p>
                          </div>
                          <div>
                            <div class="d-flex justify-content-between">
                              <p class="text_status">Tình trạng</p>
                              <p class="text_status-b">
                                {{ item.p_condition }}
                              </p>
                            </div>
                            <div class="d-flex justify-content-between">
                              <p class="text_status">Tình trạng bàn giao</p>
                              <p class="text_status-b">
                                {{ item.delivery_status }}
                              </p>
                            </div>
                          </div>
                          <div
                            class="d-flex justify-content-end align-items-center"
                          >
                            <p class="text_status-b mb-0 mx-2 cursor-pointer">
                              Xem thêm thông tin
                            </p>
                            <img
                              src="assets/images/ComacPro 7/vuesax/linear/arrow-right.png"
                              alt="mui_ten"
                              class="img_icon cursor-pointer"
                            />
                          </div>
                          <div class="custom-border m-2"></div>
                          <div class="d-flex align-items-end p-2">
                            <p class="price_text">
                              {{ transform(item.price) }}
                            </p>
                            <p class="vnd_text mx-1">VNĐ</p>
                          </div>
                          <div class="p-2">
                            <button class="button btn-sell">Mua ngay</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
               <div *ngIf="!isLoading && isColumn">
                  <div class="product-list">
                    <div class="row">
                      <div class="col-12 d-flex border-box-c-12 m-2" *ngFor="let item of data">
                        <div class="col-4 p-0"><img [src]="item.img ? item.img : defaultImg" alt="" (dblclick)="openPreview(item.img)" class="img-product w-100 border-anh" /></div>
                        <div *ngIf="isPreviewOpen" class="modal">
                          <span class="close" (click)="closePreview()">&times;</span>
                          <img class="modal-content" [src]="previewImageUrl">
                        </div>
                        <div class="p-4 col-5">
                          <div><p class="title_product">{{item.product_name}}</p></div>
                          <div class="d-flex"><img src="assets/images/location/vuesax/bold/location.png" alt="" class="location_img" /><p class="text_location mx-2">{{item.city}}</p></div>
                          <div>
                            <div class="d-flex justify-content-between">
                              <p class="text_status">Tình trạng</p>
                              <p class="text_status-b">{{item.p_condition}}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                              <p class="text_status">Thời gian bàn giao</p>
                              <p class="text_status-b">{{item.delivery_status}}</p>
                            </div>
                          </div>
                          <div
                          class="d-flex justify-content-end align-items-center"
                        >
                          <p class="text_status-b mb-0 mx-2 cursor-pointer">
                            Xem thêm thông tin
                          </p>
                          <img
                            src="assets/images/ComacPro 7/vuesax/linear/arrow-right.png"
                            alt="mui_ten"
                            class="img_icon cursor-pointer"
                          />
                        </div>
                        </div>
                        <div class="col-3 p-3">
                          <div class="d-flex flex-column flex-md-row align-items-end p-2">
                            <p class="price_text mb-0">
                              {{ transform(item.price) }}
                            </p>
                            <p class="vnd_text mx-1 mb-0">VNĐ</p>
                          </div>
                          <div class="p-2">
                            <button class=" btn-sell w-100">Mua ngay</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pagination">
                  <ng-container *ngIf="totalItems > itemsPerPage">
                    <button
                      *ngFor="
                        let page of [].constructor(totalPages);
                        let i = index
                      "
                      (click)="onPageChange(i + 1)"
                      [class.active]="currentPage === i + 1"
                    >
                      {{ i + 1 }}
                    </button>
                  </ng-container>
                </div>

                <div class="box_cnt_2 pt-2 pb-2">
                  <div class="d-flex align-items-center pb-2">
                    <div class="custom-border-vertical"></div>
                    <p class="title_cnt mb-0 mx-2">
                      Khám phá các thiết bị khác
                    </p>
                  </div>
                  <div class="pt-2 pb-2 d-flex row">
                    <div class="col-6 col-md-3">
                      <div class="box_img_pro">
                        <img
                          src="assets/images/anh_product.png"
                          alt=""
                          class="img-product w-100"
                        />
                      </div>
                      <div class="box_content_product p-3 border-box_cnt">
                        <div>
                          <p class="title_product">
                            2021 Spider 15.75 Pro Platform Basket Spider Lift
                          </p>
                        </div>
                        <div class="d-flex">
                          <img
                            src="assets/images/location/vuesax/bold/location.png"
                            alt=""
                            class="location_img"
                          />
                          <p class="text_location mx-2">Hà Nội</p>
                        </div>
                        <div>
                          <div class="d-flex justify-content-between">
                            <p class="text_status">Tình trạng</p>
                            <p class="text_status-b">Đã qua sử dụng</p>
                          </div>
                          <div class="d-flex justify-content-between">
                            <p class="text_status">Tình trạng bàn giao</p>
                            <p class="text_status-b">Sẵn sàng</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-3">
                      <div class="box_img_pro">
                        <img
                          src="assets/images/anh_product.png"
                          alt=""
                          class="img-product w-100"
                        />
                      </div>
                      <div class="box_content_product p-3 border-box_cnt">
                        <div>
                          <p class="title_product">
                            2021 Spider 15.75 Pro Platform Basket Spider Lift
                          </p>
                        </div>
                        <div class="d-flex">
                          <img
                            src="assets/images/location/vuesax/bold/location.png"
                            alt=""
                            class="location_img"
                          />
                          <p class="text_location mx-2">Hà Nội</p>
                        </div>
                        <div>
                          <div class="d-flex justify-content-between">
                            <p class="text_status">Tình trạng</p>
                            <p class="text_status-b">Đã qua sử dụng</p>
                          </div>
                          <div class="d-flex justify-content-between">
                            <p class="text_status">Tình trạng bàn giao</p>
                            <p class="text_status-b">Sẵn sàng</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-3">
                      <div class="box_img_pro">
                        <img
                          src="assets/images/anh_product.png"
                          alt=""
                          class="img-product w-100"
                        />
                      </div>
                      <div class="box_content_product p-3 border-box_cnt">
                        <div>
                          <p class="title_product">
                            2021 Spider 15.75 Pro Platform Basket Spider Lift
                          </p>
                        </div>
                        <div class="d-flex">
                          <img
                            src="assets/images/location/vuesax/bold/location.png"
                            alt=""
                            class="location_img"
                          />
                          <p class="text_location mx-2">Hà Nội</p>
                        </div>
                        <div>
                          <div class="d-flex justify-content-between">
                            <p class="text_status">Tình trạng</p>
                            <p class="text_status-b">Đã qua sử dụng</p>
                          </div>
                          <div class="d-flex justify-content-between">
                            <p class="text_status">Tình trạng bàn giao</p>
                            <p class="text_status-b">Sẵn sàng</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-3">
                      <div class="box_img_pro">
                        <img
                          src="assets/images/anh_product.png"
                          alt=""
                          class="img-product w-100"
                        />
                      </div>
                      <div class="box_content_product p-3 border-box_cnt">
                        <div>
                          <p class="title_product">
                            2021 Spider 15.75 Pro Platform Basket Spider Lift
                          </p>
                        </div>
                        <div class="d-flex">
                          <img
                            src="assets/images/location/vuesax/bold/location.png"
                            alt=""
                            class="location_img"
                          />
                          <p class="text_location mx-2">Hà Nội</p>
                        </div>
                        <div>
                          <div class="d-flex justify-content-between">
                            <p class="text_status">Tình trạng</p>
                            <p class="text_status-b">Đã qua sử dụng</p>
                          </div>
                          <div class="d-flex justify-content-between">
                            <p class="text_status">Tình trạng bàn giao</p>
                            <p class="text_status-b">Sẵn sàng</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-slick></app-slick>
  <app-footer></app-footer>
</div>
